process { withName: 'GAPSEQ_DOALL' { container = 'oras://community.wave.seqera.io/library/gapseq:2.1.0--860639694c942c89' } }
process { withName: 'GAPSEQ_DRAFT' { container = 'oras://community.wave.seqera.io/library/gapseq:2.1.0--860639694c942c89' } }
process { withName: 'GAPSEQ_FILL' { container = 'oras://community.wave.seqera.io/library/gapseq:2.1.0--860639694c942c89' } }
process { withName: 'GAPSEQ_FIND' { container = 'oras://community.wave.seqera.io/library/gapseq:2.1.0--860639694c942c89' } }
process { withName: 'GAPSEQ_FINDTRANSPORT' { container = 'oras://community.wave.seqera.io/library/gapseq:2.1.0--860639694c942c89' } }
process { withName: 'GAPSEQ_MEDIUM' { container = 'oras://community.wave.seqera.io/library/gapseq:2.1.0--860639694c942c89' } }
