process { withName: 'GAPSEQ_DOALL' { conda = 'modules/nf-core/gapseq/doall/.conda-lock/linux_arm64-bd-4c3c0957c0119f60_1.txt' } }
process { withName: 'GAPSEQ_DRAFT' { conda = 'modules/nf-core/gapseq/draft/.conda-lock/linux_arm64-bd-4c3c0957c0119f60_1.txt' } }
process { withName: 'GAPSEQ_FILL' { conda = 'modules/nf-core/gapseq/fill/.conda-lock/linux_arm64-bd-4c3c0957c0119f60_1.txt' } }
process { withName: 'GAPSEQ_FIND' { conda = 'modules/nf-core/gapseq/find/.conda-lock/linux_arm64-bd-4c3c0957c0119f60_1.txt' } }
process { withName: 'GAPSEQ_FINDTRANSPORT' { conda = 'modules/nf-core/gapseq/findtransport/.conda-lock/linux_arm64-bd-4c3c0957c0119f60_1.txt' } }
process { withName: 'GAPSEQ_MEDIUM' { conda = 'modules/nf-core/gapseq/medium/.conda-lock/linux_arm64-bd-4c3c0957c0119f60_1.txt' } }
