process { withName: 'GAPSEQ_DOALL' { container = 'community.wave.seqera.io/library/gapseq:2.1.0--c32b876ebb5e5f5b' } }
process { withName: 'GAPSEQ_DRAFT' { container = 'community.wave.seqera.io/library/gapseq:2.1.0--c32b876ebb5e5f5b' } }
process { withName: 'GAPSEQ_FILL' { container = 'community.wave.seqera.io/library/gapseq:2.1.0--c32b876ebb5e5f5b' } }
process { withName: 'GAPSEQ_FIND' { container = 'community.wave.seqera.io/library/gapseq:2.1.0--c32b876ebb5e5f5b' } }
process { withName: 'GAPSEQ_FINDTRANSPORT' { container = 'community.wave.seqera.io/library/gapseq:2.1.0--c32b876ebb5e5f5b' } }
process { withName: 'GAPSEQ_MEDIUM' { container = 'community.wave.seqera.io/library/gapseq:2.1.0--c32b876ebb5e5f5b' } }
