process { withName: 'GAPSEQ_DOALL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/87/8765d29d9128a4e47bcff3f2182362aacb6b4a1499ab774713fe34ce9e821e0b/data' } }
process { withName: 'GAPSEQ_DRAFT' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/87/8765d29d9128a4e47bcff3f2182362aacb6b4a1499ab774713fe34ce9e821e0b/data' } }
process { withName: 'GAPSEQ_FILL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/87/8765d29d9128a4e47bcff3f2182362aacb6b4a1499ab774713fe34ce9e821e0b/data' } }
process { withName: 'GAPSEQ_FIND' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/87/8765d29d9128a4e47bcff3f2182362aacb6b4a1499ab774713fe34ce9e821e0b/data' } }
process { withName: 'GAPSEQ_FINDTRANSPORT' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/87/8765d29d9128a4e47bcff3f2182362aacb6b4a1499ab774713fe34ce9e821e0b/data' } }
process { withName: 'GAPSEQ_MEDIUM' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/87/8765d29d9128a4e47bcff3f2182362aacb6b4a1499ab774713fe34ce9e821e0b/data' } }
