/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running MacSyFinder tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple test
    of MacSyFinder macromolecular system detection.

    Use as follows:
        nextflow run nf-core/bacmodel -profile test_macsyfinder,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'MacSyFinder test profile'
    config_profile_description = 'Minimal test dataset to check MacSyFinder detection'

    // Input data - small bacterial genome test dataset
    input               = params.pipelines_testdata_base_path + 'bacmodel/samplesheet.tsv'

    // Test MacSyFinder specifically
    annotation_tool     = 'prokka'
    macsyfinder_models  = 'TXSS'
    skip_macsyfinder    = false
    skip_traitar        = true  // Skip for faster testing
    skip_carveme        = true  // Skip for faster testing
}
