/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running TRAITAR tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple test
    of TRAITAR phenotype prediction.

    Use as follows:
        nextflow run nf-core/bacmodel -profile test_traitar,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'TRAITAR test profile'
    config_profile_description = 'Minimal test dataset to check TRAITAR phenotype prediction'

    // Input data - small bacterial genome test dataset
    input               = params.pipelines_testdata_base_path + 'bacmodel/samplesheet.tsv'

    // Test TRAITAR specifically
    annotation_tool     = 'prokka'
    skip_macsyfinder    = true  // Skip for faster testing
    skip_traitar        = false
    skip_carveme        = true  // Skip for faster testing
}
