/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running Gapseq tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple test
    of Gapseq metabolic model reconstruction (streamlined 'doall' mode).

    Use as follows:
        nextflow run nf-core/bacmodel -profile test_gapseq,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Gapseq test profile'
    config_profile_description = 'Minimal test dataset to check Gapseq metabolic modeling'

    // Input data - small bacterial genome test dataset
    input               = params.pipelines_testdata_base_path + 'bacmodel/samplesheet.tsv'

    // Test Gapseq specifically
    annotation_tool     = 'prokka'
    skip_macsyfinder    = true  // Skip for faster testing
    skip_traitar        = true  // Skip for faster testing
    skip_carveme        = true  // Skip for faster testing
    skip_gapseq         = false
    skip_memote         = false
}
