/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running CarveMe tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple test
    of CarveMe metabolic model reconstruction.

    Use as follows:
        nextflow run nf-core/bacmodel -profile test_carveme,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'CarveMe test profile'
    config_profile_description = 'Minimal test dataset to check CarveMe metabolic modeling'

    // Input data - small bacterial genome test dataset
    input               = params.pipelines_testdata_base_path + 'bacmodel/samplesheet.tsv'

    // Test CarveMe specifically
    annotation_tool     = 'prokka'
    skip_macsyfinder    = true  // Skip for faster testing
    skip_traitar        = true  // Skip for faster testing
    skip_carveme        = false
    skip_memote         = false
}
